mat-form-field {
  width: 100%;
}

mat-dialog-action {
  margin-bottom: 20px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
