<div>
  <h1 style="background-color: #000000; color: white" mat-dialog-title>Edit Order</h1>
  <div mat-dialog-content>
    <form [formGroup]="KitchenForm">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Order ID: </mat-label>
            <input matInput type="text" formControlName="order_id" readonly/>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Customer Name: </mat-label>
            <input matInput type="text" formControlName="customer_name" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Customer number: </mat-label>
            <input matInput type="text" formControlName="customer_number" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Customer email: </mat-label>
            <input matInput type="text" formControlName="customer_email" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Table Code: </mat-label>
            <input matInput type="text" formControlName="table_code" />
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Menu Type: </mat-label>
            <input matInput type="text" formControlName="menu_type" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Menu Item: </mat-label>
            <input matInput type="text" formControlName="menu_item" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Quantity: </mat-label>
            <input matInput type="text" formControlName="quantity" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Extra Note: </mat-label>
            <input matInput type="textarea" formControlName="extra_note" />
          </mat-form-field>
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Chef: </mat-label>
        <mat-select formControlName="chef_id">
          <mat-option *ngFor="let chef of ActiveChefs" [value]="chef.ID">
            {{ chef.Name }}
          </mat-option>
        </mat-select>
      </mat-form-field>



      <div class="row">
        <div class="col-md-8">
          <mat-form-field appearance="outline">
            <mat-label>Status: </mat-label>
            <mat-select formControlName="order_status">
              <mat-option value="Pending">Pending</mat-option>
              <mat-option value="Preparing">Preparing</mat-option>
              <mat-option value="Order Ready">Order Ready</mat-option>
              <mat-option value="Done">Done</mat-option>
              <mat-option value="Canceled">Canceled</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>


    </form>
  </div>
  <div style="padding: 10px" mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left: 8px; margin-right: 20px" mat-raised-button color="primary" (click)="updateOrder()">Update</button>
  </div>
</div>
