<div *ngIf="data.items && data.items.length > 0 && !collapsed" class="submenu-container">
  <ng-container *ngFor="let item of data.items">
    <!-- Submenu item with children -->
    <div class="submenu-item" *ngIf="item.items && item.items.length > 0">
      <a class="submenu-link has-children" (click)="handleClick(item)"
         [class.active]="isActive(item)">
        <div class="submenu-icon-wrapper">
          <i class="submenu-icon fas fa-circle"></i>
        </div>
        <span class="submenu-text">{{ item.label }}</span>
        <div class="submenu-badge" *ngIf="getItemCount(item) > 0">
          {{ getItemCount(item) }}
        </div>
        <i class="submenu-chevron" [class]="item.expanded ? 'fas fa-chevron-down' : 'fas fa-chevron-right'"></i>
      </a>

      <!-- Nested submenu (recursive) -->
      <app-sublevel-menu
        *ngIf="item.expanded"
        [data]="item"
        [collapsed]="collapsed"
        [multiple]="multiple"
        class="submenu-nested">
      </app-sublevel-menu>
    </div>

    <!-- Submenu item without children (direct link) -->
    <a class="submenu-link" *ngIf="!item.items || item.items.length === 0"
      [routerLink]="item.routerLink"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [class.active]="isActive(item)">
      <div class="submenu-icon-wrapper">
        <i class="submenu-icon fas fa-circle"></i>
      </div>
      <span class="submenu-text">{{ item.label }}</span>
      <div class="submenu-badge" *ngIf="getItemCount(item) > 0">
        {{ getItemCount(item) }}
      </div>
    </a>
  </ng-container>
</div>
