.auth-wrapper {
  display: flex;
  height: 100vh;
  background: #f7f8fc;
}

/* LEFT */
.auth-left {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  width: 380px;
}

.logo {
  width: 120px;
  // margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}

.subtitle {
  color: #6b7280;
  margin-bottom: 30px;
}

/* FIELDS */
.field {
  margin-bottom: 20px;
}

.field label {
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-bottom: 6px;
}

.field input {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  padding: 0 14px;
  font-size: 14px;
}

.field input:focus {
  outline: none;
  border-color: #2563eb;
}

/* PASSWORD */
.password-field {
  position: relative;
}

.password-field i {
  position: absolute;
  right: 15px;
  top: 38px;
  cursor: pointer;
  color: #6b7280;
}

/* OPTIONS */
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 25px;
}

.options a {
  color: #2563eb;
  text-decoration: none;
}

/* BUTTON */
.login-btn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: #f6b21a;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background: #a0916f;
}

/* WARNING */
.warnignText {
  color: #dc2626;
  margin-bottom: 15px;
  font-size: 14px;
}

/* RIGHT IMAGE */
.auth-right {
  width: 60%;
  background: url("/assets/uploads/login-right.jpg") no-repeat center;
  background-size: cover;
}


/* MOBILE */
@media (max-width: 768px) {
  .auth-wrapper {
    flex-direction: column;
  }

  .auth-right {
    display: none;
  }

  .auth-left {
    width: 100%;
  }
}
.main-header {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  height: 55px;
  margin-right: 10px;
}

.logo-text {
  font-size: 18px;
  font-weight: 600;
  color: #222;
}

.nav-menu a {
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
  color: #444;
}

.nav-menu a.active,
.nav-menu a:hover {
  color: linear-gradient(135deg, #f6b21a, #ffd56a);
}
.main-footer {
  background: #222;
}
.footer-content {
  color: #fff;
}
