<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="4" rowHeight="150px" style="align-items: center !important">
    <mat-grid-tile colspan="2" rowspan="2.5" style="align-items: center">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <!--  -->
            <div class="grid-container1">
              <div class="table">
                <h3>Orders</h3>
                <div class="chart-container">
                  <canvas
                    #chartCanvas
                    baseChart
                    [datasets]="filteredPieChartData"
                    [labels]="filteredPieChartLabels"
                    [options]="pieChartOptions"
                    [type]="'doughnut'"
                  ></canvas>
                </div>
              </div>
            </div>

            <!--  -->
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="2.5">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <h3 style="font-weight: bold">Monthly Sales</h3>
          <div>
            <!--  -->
            <div class="grid-container1" style="width: 50%; margin-left: 25%; margin-top: 10%; border: none">
              <div style="border: none">
                <div class="table">
                  <div class="chart-container">
                    <canvas
                      #chartCanvas
                      baseChart
                      [datasets]="filteredBarChartData"
                      [labels]="filteredbarChartLabels"
                      [options]="barChartOptions"
                      [type]="'bar'"
                    >
                    </canvas>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="2.5">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <h3 style="font-weight: bold">Sales (Yearly)</h3>
          <div>
            <!--  -->
            <div class="grid-container1" style="width: 50%; margin-left: 25%; margin-top: 10%; border: none">
              <div style="border: none">
                <div class="table">
                  <div class="chart-container">
                    <canvas
                      #chartCanvas
                      baseChart
                      [datasets]="filteredBarChartData1"
                      [labels]="filteredbarChartLabels1"
                      [options]="barChartOptions1"
                      [type]="'bar'"
                    >
                    </canvas>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="2.5">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
