v td,.v th
{
background:transparent none !important;  
	-moz-transform: rotate(-90deg) translate(0, 100%);
   -moz-transform-origin: 0% 100%;
   -o-transform: rotate(-90deg) translate(0, 100%);
   -o-transform-origin: 0% 100%;
   -webkit-transform: rotate(-90deg) translate(0, 100%);
   -webkit-transform-origin: 0% 100%;
   transform: rotate(-90deg) translate(0, 100%);
   transform-origin: 0% 100%;
   }
.popup { border:1px solid #808080; display:none; overflow:; position:; padding:0px; margin:0px; background-color: white; }
.popup ul {margin: 0; padding: 0.3em;  list-style-type: none;  width:100%;  }
.popup li{ padding:4px 0px 4px 0px;  width:100%;}
.popup li:hover {}
.popup ul li img {  position:absolute; margin-left:-20px;  vertical-align:middle }
.popup hr {border: 0; border-bottom: 1px solid grey;    margin: 3px 0px 3px 0px; width: 10em;}
.popup a {border:1px solid white;text-decoration: none !important; width:100%; cursor:pointer}
.popup a:hover {border:1px solid silver; background-color:#F5F5F5 ;width:150px;}
.popup li a { padding:4px 14px 4px 26px;  }
.popup .topSep {font-size: 90%; border-top: 1px solid gray;    margin-top: 0.3em; padding-top: 0.3em;}
/*======================================================================================================================*/



#CBDROPDOWN a {display:block;text-decoration:none; color:#000000; padding-left:3px; padding-right:3px; padding-top:1px; padding-bottom:1px}
#CBDROPDOWN a:hover {color: #FFFFFF; width: 100%; display:block; background-color: #000080}
.dropdown {padding-right:28px}
.dropdown input{background-image: url('../images/dd.png'); background-repeat: no-repeat; background-position: right center;margin-left:-20;padding-left:3px; padding-right:20px; }

table.men3 {	width: auto; page-break-inside:avoid;page-break-after:always;font-size:8pt }
table.men3 thead {	text-align: center }
table.men3 tbody {	text-align: right }
table.men3 td:first-child {text-align:left; }



ol.ospcols {width: 100%;display:block; margin:5px 0px;}
ol.ospcols li {width:250px; float:left;  height:25px;}
ol.ospcols select {width:100px;}
 
table.osptb {border: 1px solid #000000;border-collapse: collapse; }
table.osptb td {border: 1px dotted #000000; text-align:center; font-size:10pt; font-family:serif ;  }
table.osptb td.l {text-align: left;}
table.osptb td.r {text-align: right;} 

table.osptb .hid{ background-color: blue; font-size:0px; width:0px!important; visibility:hidden; padding:0px; margin:0px; border:0px transparent none }

 
table.osptb td.new{ background-color:lime; color:black;  }
 
table.osptb input { width:35px; } 
table.osptb input.pln { width:170px}

table.osptb col.l {border-left:1px solid #000000; text-align:center; font-size:10px; font-family:v; width:20   }
table.osptb col {   }
table.osptb th { border-style: solid; border-width: 1px; background-color: #FFFFFF; background-image: none; font-size:8pt; } 
table.history em{ display:inline-block; width:0px;height:100%;  position:relative; left:-80px ;white-space:nowrap; border-left-width:1px; border-right-width:1px; border-top-width:1px; text-decoration:none; font-weight:none }
table.history div div{border-bottom:1px solid #CCCCCC;width:100%-100px;margin-left:100px; text-indent:-10px; border-left-width:0px; border-right-width:0px; border-top-width:0px; padding-left:0px; padding-right:0px; padding-top:2px; padding-bottom:0px  }
table.history div{padding:5px; border:1px solid #000000; }
table.verticle div {overflow:hidden;text-overflow : clip;}

.payslip  {  width:220px;margin:0px auto;} 

table.payslip  {margin-bottom:15px; font-size:8pt; width:220px !important; margin:0px auto; border:1px solid #000000; border-collapse:collapse;}
table.payslip  td {padding:0px 2px; overflow:hidden;border-bottom:1px solid #000000;}
table.payslip  th {  background-image:none}
/*======================================================================================================================*/

td.useratter ul li {float: left; font-size:10pt;  margin-top:10; display:block; width:100%}
td.useratter ul input {margin-right: 10px;}
td.useratter ul { margin:0; list-style-type:none; font-size:10pt; padding-left:10px; padding-top:5px; padding-bottom:5px}
 
table.ttt a:link,a:visited  { color: #000000; text-decoration: none }
table.ttt a:hover   { color: #0000CC; text-decoration: none underline }

.dg {border-collapse: collapse;border-width:0px;}
table.dg td{ border-width:0px; background-image:url('../images/tr_c.png') }
table.dg th{background-color: #CCCCCC; border-width:0px;}
a:link, a:visited {color: #0000FF; text-decoration: none}
a:hover {color: #0000FF; }


.dg input,.dg select {border: 1px solid #000000}
.dg textarea  {border: 1px solid #000000; width:100%}


div.dg { overflow: auto; width: 100; height: 100;}

 
label	{ width:120; display:block; color:#800000;font-weight:bold; padding-top:5px }
body         		{ font-family: Arial; font-size: 10pt;  }
table        		{ font-size: 10pt }
img          		{ border-width: 0px }
form				{ margin: 0; padding: 0} 
input:text, select, textarea 		{    margin-right:2;margin-left:2 }
input.date			{ background-color:#FFCCFF; background-repeat:no-repeat }
input.currency		{ text-align:right; background-color:#CCFFCC }
input.qty			{ text-align: right}
input.index			{ text-align: left; background-color:#66FFFF}
input.disabled		{ text-align: right; background-color:#f1f1f1; color:#000000}
input.readonly		{ border:1px solid #C0C0C0; text-align: right; color:#000000}
form input.number	{ text-align: right}
input:focus,select:focus,textarea:focus{background-color: #FFFF00}
 
div.acc		{ border-bottom:1px solid #C0C0C0;  width:100%; border-left-width:1px; border-right-width:1px; height:18; display:block; float:left}
 
div.acc  	div{overflow: hidden; height:18; display:block; position:relative}
div.acc		div.acco{background-color: #f9f9f9;height:18;}	 

div.acc  	div.n	{float: left  ; width: 200;margin-left:10px;}

div.acc  	div.ico	{float: left; width: 20}
div.acc  	div.t	{float: left; width: 18;padding-left:0px; background-left: repeat-y; background-position: left top}
div.acc  	div.i	{float: right; width: 120; margin-left:10px; }
div.acc  	div.d	{float: right; width: 200; margin-left:10px; }
div.acc  	div.c	{float: right; width: 120; margin-left:10px ;}
div.acc  	div.e	{float: right; width: 30;  text-align:center; }
div.acc  	div.v	{float: right; width: 100; margin-left:20px; text-align:right}

div.acc  	a:link	{  text-decoration: none; color: #0000FF} 
div.acc  	a:visited	{  text-decoration: none; color: #0000FF} 


div.acc  	a:hover	{ text-decoration: underline}


div.vv	{ float:left; width:100% }
div.vh	{ position:absolute; visibility: Hidden}

div.dialog{position: absolute; left: 0; top: 0; width: 100%; height: 100%}
div.Insert	{border:1px solid #FFCC99; padding:10px; float:left}

th			{background-color: #C0C0C0;   border-bottom-width:0px; background-image:url('../images/menu.png'); background-repeat:repeat-x; background-position-y:center }
thead th	{   border-bottom-width:0px; background-repeat:repeat-x;  }
.sys table 	{  }
.sys select.dropdown { max-width:200px; }


td.vbar {width: 20; background-color: #CCCCCC}
td.hbar {height: 40; background-color: #eeeeee}

td.total1,tr.total1 td{border-top: 1px solid #000000; border-bottom: 3px double #000000; font-weight:bold}
td.total2,tr.total2 td {border-top: 1px solid #000000; font-weight:bold}
td.total3,tr.total3 td {border-bottom: 1px solid #000000; font-weight:bold}

 
.space { border-top:white 0px solid !important; border-bottom:white 0px solid !important }
  
h3{color: #000000; margin-top: 0; margin-bottom: 10; }
h5{color: #3e3580; margin-top: 7; margin-bottom: 0; font-size:12pt}

table.tool{border-style: solid; border-width: 1px; position:absolute; visibility: Hidden;   } 
table.ReportTools{}


tr.new {background-color: #00FF00}
tr.odd {background-color: #f8f8f8}
tr.even { }
tr.odd:hover, tr.even:hover{background-color: #FFFF99}
.sys td.Currency{text-align: right}
.sys table.grid td{border:1px solid #EEEEEE; padding-left:4px; padding-right:4px; padding-top:1px; padding-bottom:1px}
.sys table.grid {}

form input.Email{width:100%} 

/*======================================================================================================================*/
.w1{width:10px;}.w2{width:20px;}.w3{width:30px;}.w4{width:40px;}.w5{width:50px;}
.w6{width:60px;}.w7{width:70px;}.w8{width:80px;}.w9{width:90px;}.w10{width:100px;}
.w12{width:120px;}.w15{width:150px;}.w18{width:180px;}.w20{width:200px;}.w200{width:200px;}


.h1{height:10px;}.h2{height:20px;}.h3{height:30px;}.h4{height:40px;}.h5{height:50px;}
.h6{height:60px;}.h7{height:70px;}.h8{height:80px;}.h9{height:90px;}.h10{height:100px;}
.h12{height:120px;}.h15{height:150px;}.h18{height:180px;}.h20{height:200px;}.h200{height:200px;}

.t6 {font-size: 6pt !important}
.t8 {font-size: 8pt !important}


.l {text-align: left} 
.r {text-align: right} 
.c {text-align: center} 

.b { font-weight:bold}

.m0 {margin:0px}


.PY1024{  font-weight: bold;  background: #efefef; }
.PY1024  td{ border-bottom: 3px solid #000000!important;  }
.PY2048 {font-weight: bold; background-color:#e0e0e0;}
.PY2048 td{ border-bottom: 3px solid #000000!important;  }

.PYH{ visibility: hidden; display:none;}
/*======================================================================================================================*/


table.dg caption, table.df caption { text-align:left;  color:#222; font-weight:bold;  padding:3px; margin:10px 0px 0px 0px }
table.dg {border-collapse: collapse; right:200px; width:100% }
table.dg td{ border:1px #ccc solid;    }
table.dg td:first-child{ text-align:center }
table.dg th{ border:1px #ccc solid;  background-color: #eee; font-weight:normal}


table.df {border-collapse: collapse;  width:760px; margin-bottom:5px } 
table.df td { border:1px #ccc solid ; padding: 4px; padding-right:10px   }
table.df th { border:1px #ccc solid ; padding: 4px;  min-width:80px; background:#eee none no-repeat scroll left top; text-align:left; font-weight:normal; color: #111;  vertical-align:middle}
table.df input,table.df select ,table.df textarea { min-width:120px; width:100%; }
table.df input[type=radio],table.df input[type=checkbox] {min-width:0px; width:auto; display:inline }
table.df  label input{width:auto }

table.df {  } 


table.none { width: auto; } 
table.none td { } 
table.none th { border-style: solid; border-width: 1px; background-color: #C0C0C0; background-image:none} 

table.none td table td{ border-width:1px} 

/* table.verticle,table.verticle td,table.verticle th {border:1px black solid ;} */
table.verticle { width: 100%;max-width:900px;border-collapse: collapse; } 
table.verticle td { background-color:white;} 
table.verticle th { background-color: #C0C0C0  !important; background-image: none} 
table.verticle td table,table.verticle td table td{ border-width:0px;} 

table.verticle td.sp{border-top: 1px solid #FFFFFF !important; border-bottom: 1px solid #FFFFFF !important} 
table.cover {height:970px}

/* table.horizontal ,table.horizontal td,table.horizontal th {border:1px black solid ;} */

table.horizontal { width: 100%; border-collapse: collapse; } 
table.horizontal td { border: 1px solid #000000 ! important;} 
table.horizontal th { border: 1px solid #000000;  background-color: #C0C0C0;  background-image:none } 
table.horizontal a,table.verticle a { text-decoration: none; color: #000000} 
table.horizontal a:hover,table.verticle a:hover { text-decoration: none; color: #0000FF} 
table.horizontal td table td{ border-width:1px} 

table.horizontal tr:hover, table.verticle tr:hover, table.dg tr:hover {background-color: #FFFF99 }

table.signbox{border-collapse: collapse;page-break-inside:avoid; font-size:10pt; font-weight:bold;    }
table.signbox td { width:350px; text-align:center }
table.signbox th { width:120px; background-image:none; text-align:left; height:1in }

//======================================================================================================================

.print body         { font-family: Arial; font-size: 10pt; height:100% }
.dots        		{ border-bottom: 1px dotted #000000 }
.dots2        		{ border-top: 1px dotted #000000; text-align:center; float:right }
.dots1        		{ border-top: 1px dotted #000000; text-align:center; font-weight:bold }
.dotbox        		{ border: 1px dotted #000000 !important }



.print h1           { font-size: 14pt; font-weight: bold; margin: 0 }
.print h2           { font-size: 10pt; margin-top: 0; margin-bottom: 0; font-weight:bold }
.print th           { font-size: 10pt; background-color:#CCCCCC; font-weight:bold; text-align:center }
.print td           { font-size: 10pt; text-align:left }

.print tr.total		{font-weight: bold} 
.print div.pad		{color: #FFFFFF; float:leddft}

.print table.verticle{ width: 800px }
.print td.total1 {border-top: 1px solid #000000; border-bottom: 3px double #000000; font-weight:bold}
.print td.total0 {border-bottom: 1px solid #000000; font-weight:bold}
.print td.total2 {border-top: 1px solid #000000; font-weight:bold}
.print thead tr {
	position: relative
}
 
.print html>body thead tr {
	display: block
} 
.print thead th,.sys thead th {
	background: #CCCCCC;
	font-weight: bold;
	text-align: center; color:#000000; padding-left:3px; padding-right:3px; padding-top:4px; padding-bottom:4px
}
  
.print thead a, thead a:link, thead a:visited {
	color: #FFF;
	display: block;
	text-decoration: none;
	width: 100%
}
  
.print thead a:hover {
	color: #FFF;
	display: block;
	text-decoration: underline;
	width: 100%
}

#MenuBar1 li {
	width: auto;
	white-space: nowrap;
}
#MenuBar1 ul {
	width: auto;
}
#MenuBar1 ul li {
	float: none;
	background-color: transparent;
}
#MenuBar1 a.MenuBarItemSubmenu {
	background-position: 100% 50%; 
}
 
#fixedtop { position: fixed; top: 0; left: 0; right: 0; border: none; z-index: 50; }
div.fixedlow{ position: fixed; left: 0; right: 0; border: medium none; z-index: 50; bottom:0 }
div.fixedmid{ position: fixed; left: 0; right: 0; border: medium none; z-index: 50; bottom:0; top:0 }
div.fixedstat{ position: fixed; left: 0;bottom:0;  border: medium none; z-index: 51; }


#MsgDisplay2{ position: fixed; top: 0; left: 0; right: 0; border: medium none; z-index: 50; width:100% }
#center250 { border-bottom:1px solid #808080; width: 100%; margin: auto; background-color: #EEEEEE;border-left-width:1px; border-right-width:1px; border-top-width:1px }
div.center250a { width: 100%; margin: auto;   }
div.center250f { width: 100%; margin: auto;   }
#fixedtop2 { position: fixed;  width: 100%; top: 0; background-color: #eeeeee; z-index: 50; }




input.date						{ width:90px; background:#FFCCFF url('../images/date.gif') no-repeat scroll right center }
input.time						{ width:60px; background:#FFCCFF url('../images/time.png') no-repeat scroll right center  }


.PrintB {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color: #fff !important;
	text-transform: uppercase;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.PrintB:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.PrintB:active {
	position:relative;
	top:1px;
}
