//variables

//font
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);

//mixins
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin transition($transition) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content
  }

  :-moz-placeholder {
    @content
  }

  ::-moz-placeholder {
    @content
  }

  :-ms-input-placeholder {
    @content
  }
}

body {

  background-color: rgb(183, 183, 216);
  font-size: 18px;
}

.iconEye{
  width: 700px;
}
.btnEye{
  margin-top: -125px;
  border: hidden;

}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;

  height: auto;
  margin-top: 30px;
    margin-bottom: auto;

  align-items: center !important;
  text-align: center !important;



  @include border-radius(8px);
  background-color: rgb(255, 255, 255);

  -webkit-box-shadow: 0 10px 100px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 10px 100px rgba(0, 0, 0, .3);
  box-shadow: 0 10px 100px rgba(0, 0, 0, .3);

  .login-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;

    width: 100%;
    display: inline-block;

    position: relative;

    h1 {
      padding-top: 10%;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.667em;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 0 40px 0;
    }

    input {
      box-shadow: 0 1px 3px rgba(161, 70, 70, 0.15), 0 1px 0 rgb(0 0 0 / 2%);
      border: 0;
      border-radius: 0.375rem;
      transition: box-shadow 0.15s ease;

      border: #000000;
      background-color: rgba(239, 227, 243, 0.911);
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      height: 10%;
      padding: 10px;
      border-bottom: solid 1px;
      font-family: 'Source Sans Pro', sans-serif;
      @include transition (all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1));
      color: #060c0b;
      margin-bottom: 30px;
      font-size: 1em;

      &:focus,
      &:valid {
        box-shadow: none;
        outline: none;
        background-position: 0 0;
      }

      &:focus {
        border-color: rgb(167, 167, 211);
      }

      &::-webkit-input-placeholder {
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }

      &:focus {
        &::-webkit-input-placeholder {
          color: rgb(167, 167, 211);
          font-size: 0.778em;
          -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
          visibility: visible;
        }
      }
    }

    .login-btn {

      background-color: rgb(79, 79, 121);
      border: 0;
      color: #fff;
      padding: 15px 55px;
      font-family: 'Montserrat', sans-serif;
      font-size: 1em;
      cursor: pointer;
      text-transform: uppercase;
      @include border-radius(30px);

      &:hover {
        background-color: rgb(70, 113, 233);

      }

      &:focus {
        outline: none;
      }
    }

    .login-btn[disabled] {
      pointer-events: none;
      cursor: not-allowed;
      opacity: .65;
    }

    ul {
      display: block;
      margin-left: auto;
      margin-right: auto;
      align-items: stretch;


      li {
        list-style-type: none;
        display: inline-block;
        &:first-child {
          float: left;
          padding-left: 9%;
        }
        &:last-child {
           float: right;
           padding-right: 20%;
        }

        a {
          text-decoration: none;
          color: rgb(167, 167, 211);
          font-family: 'Source Sans Pro', sans-serif;
        }
      }
    }
  }

  .img-content {
    width: calc(100% - 270px);
    height: 600px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    h1 {
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      margin-top: 95px;
    }

    a {
      float: right;
      margin: 30px 30px 0 0;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
    }

    p {
      margin: 0;
      color: #fff;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;
      text-align: center;
      font-size: 2.222em;
      margin-top: 120px;
      padding: 0 100px
    }
  }

  .error-text {
    margin: 0;
    color: tomato;
    font-family: 'Montserrat', sans-serif;
    margin-top: -20px;
  }

}

.title {
  // padding-left: 35%;

  color: rgb(228, 218, 216);
  font-family: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
  // margin-top:-20px;
  font-size: 40px;
  text-align: center !important;

  // border: 3px solid green;
  padding: 40px;

}

.title-1 {
  // padding-left: 35%;

  color: rgb(228, 218, 216);

  margin: 0 0 12px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  text-align: center !important;



}
.topic{
  color: #000000;
}
.footer {
  padding-top: 10%;
}

.loginbox {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.mainImage{
  width: 150px;
  height: 100px;
}
