<div>
    <div style="padding-top: 50px; text-align: center;" >
      <img class="mainImage" src="assets\uploads\abc.png">

    </div>
    <div class="container">
      <div class="login-form">
        <h1 class="topic">Reset Your Password</h1>



        <form [formGroup]="loginForm" novalidate>
          <style>

            #identity {
              height: 50px;
            }
            #password {
              height: 50px;
            }
            #passwordnew{
              height: 50px;
            }
            #passwordnewcomfirm{
              height: 50px;
            }
          </style>
          <div>
            <input
            id="identity"
              type="text"
              formControlName="identity"
              placeholder="Email"
              minlength="3"
              required
              style="background-color: #00000024;"
            />


            <input
            id="password"
              formControlName="password"
              type="{{ isPasswordVisible ? 'text' : 'password' }}"

              minlength="6"
              placeholder="Old Password"
              required
              style="background-color: #00000024;"
            />
            <div class="iconEye input-group-append">
              <button
                class="btnEye btn btn-outline-secondary"
                type="button"
                id="togglePassword"
                (click)="togglePasswordVisibility()"
              >
                <i class="{{ isPasswordVisible ?  'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
              </button>
            </div>

            <input
            id="passwordnew"
              formControlName="passwordnew"
              type="{{ isPasswordVisible1 ? 'text' : 'password' }}"

              minlength="6"
              placeholder="New Password"
              required
              style="background-color: #00000024;"
            />
            <div class="iconEye input-group-append">
              <button
                class="btnEye btn btn-outline-secondary"
                type="button"
                id="togglePassword"
                (click)="togglePasswordVisibility1()"
              >
                <i class="{{ isPasswordVisible1 ?  'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
              </button>
            </div>

            <input
            id="passwordnewcomfirm"
              formControlName="passwordnewcomfirm"
              type="{{ isPasswordVisible2 ? 'text' : 'password' }}"
              minlength="6"
              placeholder="Confirm Password"
              required
              style="background-color: #00000024;"
            />
            <div class="iconEye input-group-append">
              <button
                class="btnEye btn btn-outline-secondary"
                type="button"
                id="togglePassword"
                (click)="togglePasswordVisibility2()"
              >
                <i class="{{ isPasswordVisible2 ?  'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
              </button>
            </div>
          </div>
          <button  class="login-btn" (click)="resetLogin()" style="background-color: #000000;" >Reset</button>

        </form>

        <!-- <ul>
          <li><a href="">Reset Password?</a></li>
        </ul>
        <ul>
          <li><a href="/auth/user-login">Login as Student</a></li>
        </ul> -->
      </div>
    </div>
    <div class="footer"></div>
  </div>
