<h1
  mat-dialog-title
  style="background-color: #000000; color: white"
  mat-dialog-title
>
  {{ formTitle }} Menu Type
</h1>
<div>
  <div mat-dialog-content>
    <form [formGroup]="menuTypeForm">
      <div class="row mt-3">
        <mat-form-field appearance="outline" class="mt-3">
          <mat-label>Code: </mat-label>
          <input formControlName="code" matInput placeholder="Enter Code" />
        </mat-form-field>
      </div>
      <div class="row mt-3">
        <mat-form-field appearance="outline" class="mt-3">
          <mat-label>Name: </mat-label>
          <input formControlName="name" matInput placeholder="Enter name" />
        </mat-form-field>
      </div>

      <div class="row mt-3">
        <mat-form-field appearance="outline" class="mt-3">
          <mat-label>Status: </mat-label>
          <mat-select formControlName="status">
            <mat-option value="Active">Active</mat-option>
            <mat-option value="Inactive">Inactive</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions [align]="'end'" class="mb-5">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button
      style="margin-left: 8px; margin-right: 20px"
      mat-raised-button
      color="primary"
      (click)="addMenuType()"
    >
      {{ actionBtn }}
    </button>
  </div>
</div>
