body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  background: #f9fafb;
  color: #1f2937;
}
.heading-1 {
  font-size: 3rem !important;
  font-weight: 700 !important;
  line-height: 1.1 !important;

}
.heading-2 {
  font-size: 1.75rem !important;
  font-weight: 700 !important;
  line-height: 1.1 !important;
}
.card-title {
  height: 62px;
}
.paragraph {
  font-size: 1.125rem !important;
  line-height: 1.6 !important;
  color: #fff;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

/* HERO */
.hero {
  background: linear-gradient(135deg, #f6b21a, #ffd56a);
  padding: 90px 0;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-text h1 {
  font-size: 44px;
  color: #fff;
}

.hero-text p {
  color: #fff;
  font-size: 18px;
  margin: 20px 0;
}

.btn-primary {
  background: #fff;
  color: #f6b21a;
  padding: 14px 36px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  transform: translateY(-2px);
}

/* ABOUT */
.about {
  padding: 90px 0;
  background: #ffffff;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.about-text h2 {
  font-size: 34px;
}

/* TOKENOMICS */
.tokenomics {
  padding: 90px 0;
  background: #f9fafb;
}

.section-title {
  font-size: 32px;
  margin-bottom: 40px;
}

// .token-grid {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   gap: 20px;
// }

.token-card {
  background: #fff;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.token-card span {
  color: #f6b21a;
  font-size: 24px;
  font-weight: bold;
}

/* FAQ */
.faq {
  padding: 90px 0;
  background: #ffffff;
}

.faq-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.faq-item {
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 10px;
  cursor: pointer;
}

/* NEWS */
.news {
  padding: 70px 0;
  background: #f6b21a;
  color: #fff;
  text-align: center;
}

.news-sub {
  opacity: 0.9;
}

/* CONTACT */
.contact {
  padding: 80px 0;
  background: #ffffff;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.contact-box {
  background: #f9fafb;
  padding: 25px;
  border-radius: 14px;
  text-align: center;
  border: 1px solid #e5e7eb;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-grid,
  .about-grid,
  .faq-grid,
  .token-grid,
  .contact-grid {
    grid-template-columns: 1fr;
  }

  .hero-text h1 {
    font-size: 34px;
  }
}
